<%- include("./include/header") %>
<div class="subVisual" id="subVisual04">
  <div class="titleBox">
    <h2 class="subTitle">Customer</h2>
    <p>하이탑의 다양하고 새로운 소식들을 전해드립니다.</p>
  </div>
  <nav id="lnb">
    <div class="container">
      <a href="" class="home">Home</a>
      <div class="depth01 menu">
        <button>Customer</button>
        <%- include("./include/depth01") %>
      </div>
      <div class="depth02 menu">
        <button>공지사항</button>
        <%- include("./include/lnb04") %>
      </div>
    </div>
  </nav>
</div>
<div class="subContents">
  <h3 class="contentsTitle">공지사항</h3>
  <div class="contents" id="estimate">
    <div class="container">
      <ul class="news">
        <li>
          <a href="">
            <img src="./images/main/mainLink01.jpg" alt="" />
            <div class="txtBox">
              <p>최고의 기술, 최상의 조직</p>
              <!-- prettier-ignore -->
              <h3>ABOUT <br> COMPANY</h3>
            </div>
          </a>
        </li>
        <li>
          <a href="">
            <img src="./images/main/mainLink02.jpg" alt="" />
            <div class="txtBox">
              <p>하이탑이 꿈꾸는 세상</p>
              <!-- prettier-ignore -->
              <h3>CATALOG <br> DOWNLOAD</h3>
            </div>
          </a>
        </li>
        <li>
          <a href="">
            <img src="./images/main/mainLink03.jpg" alt="" />
            <div class="txtBox">
              <p>변화를 주도하는 하이탑인</p>
              <!-- prettier-ignore -->
              <h3>RECRUIT <br> HITOP PEOPLE</h3>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </section>
  <!-- quickMenu end -->
  <section id="business" class="section">
    <div class="titleBox">
      <h2>BUDINESS FIELD</h2>
      <p>하이탑이 디자인에서 설계, 시공까지 확실하게 책임지겠습니다.</p>
    </div>
    <div class="container">
      <ul class="list">
        <li>
          <a href="">
            <img src="./images/main/businessField01.jpg" alt="" />
            <div class="txtBox">
              <h3>경관용 포장재</h3>
              <p>아트크리트, 텍스크리트, 패턴크리트, 흙콘크리트, 실코트</p>
            </div>
          </a>
          <div class="border">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </div>
        </li>
        <li>
          <a href="">
            <img src="./images/main/businessField02.jpg" alt="" />
            <div class="txtBox">
              <h3>경관용 포장재</h3>
              <p>아트크리트, 텍스크리트, 패턴크리트, 흙콘크리트, 실코트</p>
            </div>
          </a>
          <div class="border">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </div>
        </li>
        <li>
          <a href="">
            <img src="./images/main/businessField03.jpg" alt="" />
            <div class="txtBox">
              <h3>경관용 포장재</h3>
              <p>아트크리트, 텍스크리트, 패턴크리트, 흙콘크리트, 실코트</p>
            </div>
          </a>
          <div class="border">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </div>
        </li>
        <li>
          <a href="">
            <img src="./images/main/businessField04.jpg" alt="" />
            <div class="txtBox">
              <h3>경관용 포장재</h3>
              <p>아트크리트, 텍스크리트, 패턴크리트, 흙콘크리트, 실코트</p>
            </div>
          </a>
          <div class="border">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </div>
        </li>
      </ul>
      <table class="boardTable">
        <colgroup>
          <col style="width: 10%" />
          <col />
          <col style="width: 15%" />
          <col style="width: 15%" />
        </colgroup>
        <thead>
          <tr>
            <th scope="column">번호</th>
            <th scope="column">제목</th>
            <th scope="column">작성자</th>
            <th scope="column">날짜</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td class="subject">제목이 들어갑니다.</td>
            <td>관리자</td>
            <td>2022.05.10</td>
          </tr>
          <tr>
            <td>1</td>
            <td class="subject">제목이 들어갑니다.</td>
            <td>관리자</td>
            <td>2022.05.10</td>
          </tr>
          <tr>
            <td>1</td>
            <td class="subject">제목이 들어갑니다.</td>
            <td>관리자</td>
            <td>2022.05.10</td>
          </tr>
          <tr>
            <td>1</td>
            <td class="subject">제목이 들어갑니다.</td>
            <td>관리자</td>
            <td>2022.05.10</td>
          </tr>
          <tr>
            <td>1</td>
            <td class="subject">제목이 들어갑니다.</td>
            <td>관리자</td>
            <td>2022.05.10</td>
          </tr>
          <tr>
            <td>1</td>
            <td class="subject">제목이 들어갑니다.</td>
            <td>관리자</td>
            <td>2022.05.10</td>
          </tr>
          <tr>
            <td>1</td>
            <td class="subject">제목이 들어갑니다.</td>
            <td>관리자</td>
            <td>2022.05.10</td>
          </tr>
          <tr>
            <td>1</td>
            <td class="subject">제목이 들어갑니다.</td>
            <td>관리자</td>
            <td>2022.05.10</td>
          </tr>
          <tr>
            <td>1</td>
            <td class="subject">제목이 들어갑니다.</td>
            <td>관리자</td>
            <td>2022.05.10</td>
          </tr>
          <tr>
            <td>1</td>
            <td class="subject">제목이 들어갑니다.</td>
            <td>관리자</td>
            <td>2022.05.10</td>
          </tr>
        </tbody>
      </table>
      <%- include ("./include/pagination");?>
      <%- include ("./include/searh") %>
    </div>
  </div>
</div>
<%- include("./include/footer") %>
