<!DOCTYPE html>
<html lang="en">
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>하이탑</title>
  <link rel="shortcut icon" href="/images/common/favicon.png" type="image/x-icon" />
  <link rel="stylesheet" href="/css/reset.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

  <link rel="stylesheet" href="/css/aos.css" />
  <link rel="stylesheet" href="/css/splitting.css" />
  <link rel="stylesheet" href="/css/swiper-bundle.min.css" />
  <link rel="stylesheet" href="/css/common.css" />
  <link rel="stylesheet" href="/css/board.css" />

  <link rel="stylesheet" href="/css/layout.css" />
  <link rel="stylesheet" href="/css/main.css" />
  <link rel="stylesheet" href="/css/contents.css" />

  <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=d015e18b5f6d8456fe63235cccb816b5&libraries=services"></script>
  <script src="/js/swiper-bundle.min.js"></script>
  <script src="/js/aos.js"></script>
  <script src="/js/splitting.min.js"></script>
  <script src="/js/jquery-3.6.0.min.js"></script>
  <script src="/js/greensock/gsap.min.js"></script>

  <header id="header">
    <div class="container">
      <h1 id="logo">
        <a href="/index"><img src="/images/layout/logo.png" alt="하이탑" /></a>
      </h1>
      <nav id="gnb">
        <h2 class="blind">gnb</h2>
        <ul class="list">
          <li>
            <a href="" class="depth01">Company</a>
            <%- include("./lnb01") %>
          </li>
          <li>
            <a href="" class="depth01">Business</a>
            <%- include("./lnb02") %>
            <!-- <ul class="depth02">
              <li><a href="">경관용포장재</a></li>
              <li><a href="">기능성포장재</a></li>
              <li><a href="">조립식바닥재</a></li>
              <li><a href="">스포츠필드</a></li>
            </ul> -->
          </li>
          <li>
            <a href="" class="depth01">PR</a>
            <%- include("./lnb03") %>
            <!-- <ul class="depth02">
              <li><a href="">특허인증 </a></li>
              <li><a href="">시공실적 </a></li>
              <li><a href="">시공사진 </a></li>
              <li><a href="">카달로그 </a></li>
            </ul> -->
          </li>
          <li>
            <a href="" class="depth01">Customer</a>
            <%- include("./lnb04") %>
            <!-- <ul class="depth02">
              <li><a href="">공지사항 </a></li>
              <li><a href="">나라장터 물품목록 </a></li>
              <li><a href="">견적문의 </a></li>
            </ul> -->
          </li>
          <li>
            <a href="" class="depth01">Recruit</a>
            <%- include("./lnb05") %>
            <!-- <ul class="depth02">
              <li><a href="">인재상 </a></li>
              <li><a href="">인사&복지 </a></li>
              <li><a href="">채용공고 </a></li>
            </ul> -->
          </li>
        </ul>
      </nav>
      <a href="" class="online">온라인 견적문의</a>
    </div>
  </header>
  <!-- header end -->
</html>
